/*-- scss:defaults --*/
$primary:  #E3B778!default;
$body-bg: #fffbf4!default;
$font-family-base:  'Arial', 'Source Sans Pro',  'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default;
$headings-font-family:  'Prata', 'Roboto', 'Playfair Display', 'Montserrat'    !default;
