/*-- scss:defaults --*/
$primary:  #E3B778!default;
$body-bg: #fffbf4!default;
$text-color: #000000;
$font-family-base:  'Arial', 'Source Sans Pro',  'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default;
$headings-font-family:  'Prata', 'Roboto', 'Playfair Display', 'Montserrat'    !default;

/*-- scss:rules --*/

.navbar {
  background-color: $primary;
  color: $text-color;
}

.quarto-title-banner{
  background-color: $primary ;
  color: $text-color;
}

.btn-primary {
    color: #000000;
    background-color: $primary;
    border-color: $primary;
}

.page-item.active .page-link {
    z-index: 3;
    color: #000000;
    background-color: $primary;
    border-color: $primary;
}